.right {
  margin-right: 5%;
  margin-left: auto;
  border-radius: 8px 0px 8px 8px;
  background-color: rgb(93, 206, 93);
}

.left {
  /* float: left !important; */
  margin-left: 5%;
  border-radius: 8px 8px 8px 0px;
  background-color: #d1b73ee3;
}

.admin {
  margin-left: 35%;
  background-color: whitesmoke;
  height: 4% !important;
  font-size: 15px !important;
}

.message {
  margin-top: 3%;
  max-width: 500px;
  width: fit-content;
  min-height: 7%;
  font-size: 20px;
  padding: 0px 12px 0px 12px;
}


.span{
    font-weight: 500;
}


@media screen and (max-aspect-ratio: 7/10) {
    .border{
        width: 100vw !important;
        height: 100vh !important;
    }

    .admin{
        margin-left: 15vw !important;
    }
}